.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.indicator{text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/* Header style */


.container {
	max-width: 1340px
}

header {
	padding: 4px 0;
	background: #080a0b;
	height: 50px;
	border-bottom: 1px solid blue;
}

h1 {
	display: inline-block;
	margin-right: 110px;
}

.navbar ul li{
	display: inline-block;
    margin-right: 33px;    /spacing between words.
}

.navbar ul li a{
	color: #fff;
}

.navbar ul li a:hover{              
	color: #f6d53e;	
}                      

.navbar{
	margin-top: 10px;
	float: right;
}

.logo-wrap {
	display: inline-block;
}

h1 a,.btm-logo {
	font-family: 'BerkShire Swash';
	font-size: 30px;
	color: #fff;
}


.btm-logo {
	margin-bottom: 15px;	
	width: 200px;
	height: 33px;
	display: inline-block;
}




/* Header style end */


/* Footer style */

footer {
	background: #000;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	border-top: 1px solid blue;
}

.footer-desc,
.copyright {
	color: #fff;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 15px;
}

.footer-desc {
	width: 90%;
}

.read-more {
	color: #f6d53e;
	margin-left: 5px;
}

.read-more:hover {
	text-decoration: underline;
}

.copyright {
	margin-bottom: 0;
}

.link-title {
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
	line-height: 34px;
}

/* Footer style end */



/* slick slider end */


/* Product section */
body.category-pasta{background: #000;}


.f1{
	font-size: 30px;
	color: #000;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
}

h4{
	text-align: center;
}

.top-heading {
	background: #ff0000;
    width: 200px;
    height: 74px;
    line-height: 74px;
    margin: 25px auto;
}

.menu-wrp{background: #fff;margin-bottom: 35px;height: 500px;overflow: scroll;}

.menu-wrp ul li{
	border-top: 1px solid blue;
    height: 170px;
    position: relative;
    padding: 13px 28px;
}

.menu-item,.menu-item-desc{
	color: #000;
    font-size: 22px;
    line-height: 45px;
    font-weight: bold;
}

.menu-item-desc{
	color: #666;
    text-transform: capitalize;
}

.menu-item-price{
	display: block;
    position: absolute;
    height: 50px;
    width: 110px;
    line-height: 48px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #000;
    background: #ccc;
    font-weight: bold;
}

.order-now{
	height: 50px;
    width: 110px;
    line-height: 50px;
	color: #000;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #000;
    background: #ccc;
    font-weight: bold;
    display: inline-block;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
